*{
    box-sizing: border-box;
}

body{
    border: solid blue;
    background-color: bisque;
}

.container {
    padding: 20px;
}

.banner{
    background-image: url(images/johnny-cohen-OxOxqLAWvE0-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 300px;
}

h1 {
    color: #007bff;
}

.form-group {
    margin-top: 20px;
}

.form-group .para{
    color: red;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
}

button#check {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


h4 {
    color: #333;
}

p#ageDisplay{
    border: solid black;
    width: 500px;
    padding: 10px;
}